#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 4.5rem;
  margin-top: 0;
}

.post {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #D9D4CC;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-out forwards;
  
}

.title {
  font-size: 1.0rem;
  font-weight: bold;
  color: #1d1d1f;
  margin: 0;
  text-transform: uppercase;
}

.description, .release {
  font-size: 1.0rem;
  white-space: pre-wrap;
  margin: 0.25rem 0 0 0;
  color: #1d1d1f;
  font-style: italic;
}

/* @keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */